html {
  box-sizing: border-box;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffffef;
}

:root {
  --blue: rgb(0, 0, 60);
}

/* Header */
.header {
  min-height: 140px;
  background: var(--blue);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.logo__img {
  width: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.nav {
  width: 40%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  font-size: 20px;
  color: #fff;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

/* Hero */
.main {
  min-height: 100vh;
  margin-bottom: 40px;
  padding: 60px 50px;
}

.contaeiner {
  max-width: 1600px;
}

.title {
  min-height: 100px;
  margin: 0;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  color: var(--blue);
}

.area {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 450px;
  flex-wrap: wrap;
  padding: 20px;
}

.game {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 220px;
  border-radius: 25px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.game__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 10px 20px;
  border-radius: 20px;
}

.game:hover {
  opacity: .7;
}

.game-0 {
  position: absolute;
  top: 20px;
  left: 0;
  background: rgb(202, 16, 16);
}

.game-1 {
  position: absolute;
  top: 160px;
  left: 200px;
  background: rgb(44, 0, 165);
}

.game-2 {
  position: absolute;
  top: 20px;
  left: 400px;
  background: rgb(220, 140, 2);
}

.game-3 {
  position: absolute;
  top: 160px;
  left: 600px;
  background: rgb(202, 16, 16);
}

.game-4 {
  position: absolute;
  top: 20px;
  left: 800px;
  background: rgb(44, 0, 165);
}

/* About */
.about {
  min-height: 200px;
  margin-bottom: 40px;
}

.about__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--blue);
}

.about__text {
  margin: 0;
  width: 60%;
  font-size: 20px;
  line-height: 32px;
  color: var(--blue);
}

.about__text:not(:last-child) {
  margin-bottom: 10px;
}

/* Footer */
.footer {
  min-height: 80px;
  background: var(--blue);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 30px 20px 20px 20px;
}

.contact__link:not(:last-child) {
  margin-bottom: 10px;
}

.contact__span {
  color: rgba(253, 253, 253, 0.6);
}

@media (max-width: 1024px) {

  .header {
    width: 100%;
  }

  .contaeiner {
   width: 80%;
   overflow: hidden;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about__text {
    width: 100%;
  }
 
}

@media (max-width: 768px) {

  .nav {
    width: 70%;
  }

  .area {
    min-height: 600px;
  }

  .title {
    min-height: 40px;
    font-size: 30px;
    line-height: 48px;
  }

  .game-3 {
    top: 320px;
    left: 0;
  }

  .game-4 {
    top: 480px;
    left: 140px;
  }
}

@media (max-width: 420px) {

  .nav-item {
    font-size: 16px;
  }

  .contaeiner {
    padding: 20px;
  }

  .area {
    min-height: 650px;
  }

  .title {
    font-size: 22px;
  }
  
  .game:nth-child(2n) {
    left: 50px;
  }

  .about__title {
    font-size: 20px;
  }

  .about__text {
    font-size: 16px;
  }
  
}
